<html>
  <head>
    <title>
      {% if page.href == site.comingSoon %}
      Coming Soon
      {% else %}
      Please Wait..
      {% endif %}
    </title>
  </head>
<body>
  <p>
    {% if page.href == site.comingSoon %}
    Coming soon.
    {% else %}
    Redirecting to <a href="http://{{ page.href | remove: 'http://' | remove: 'https://' | default: site.href }}">{{ page.href  | default: site.href }}</a>
    {% endif %}
  </p>
  
  {% unless page.href == site.comingSoon %}
  <script>
    window.location.replace("http://{{ page.href | remove: 'http://' | remove: 'https://' | default: site.href }}");
    //page.href | remove: 'http://' | remove: 'https://' | default: site.href 
  </script>
  {% endunless %}
</body>
</html>
