{% assign href = page.href | default: site.href %}
<html>
  <head>
    <title>
      {% if href == site.comingSoon %}
      Coming Soon
      {% else %}
      Please Wait..
      {% endif %}
    </title>
    
    <link rel="stylesheet" href="./css/material.min.css">
    <script src="./js/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
  </head>
<body>
  <h1>
    {% if href == site.comingSoon %}
    Coming soon.
    {% else %}
    Redirecting to <a href="http://{{ href | remove: 'http://' | remove: 'https://' }}">{{ href }}</a>
    {% endif %}
  </h1>
  
  {% unless href == site.comingSoon %}
  <script>
    window.location.replace("http://{{ href | remove: 'http://' | remove: 'https://' }}");
    //href | remove: 'http://' | remove: 'https://' | default: site.href 
  </script>
  {% endunless %}
</body>
</html>
