{% assign href = page.href | default: site.href %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>
      {% if href == site.comingSoon %}
      Coming Soon
      {% else %}
      Please Wait..
      {% endif %}
    </title>


  
    <link rel="stylesheet" href="{{ site.url }}/css/material.min.css">
	  <link rel="stylesheet" href="{{ site.url }}/css/style.css">

	<script src="{{ site.url }}/js/material.min.js"></script>

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Tumble Network</span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <div class="demo-ribbon"></div>
      <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <h3>
{% if href == site.comingSoon %}
      Coming Soon
      {% else %}
      Please Wait..
      {% endif %}
</h3>
              <p>
{% if href == site.comingSoon %}
    Coming soon.
    {% else %}
    Redirecting to <a href="http://{{ href | remove: 'http://' | remove: 'https://' }}">{{ href }}</a>
    {% endif %}
</p>tht
          </div>
        </div>
        <footer class="demo-footer mdl-mini-footer">
        </footer>
      </main>
    </div>
	  {% if href == site.href %}
	  <script>
		  var onSubdomain = getQueryVariable("subdomain");
		  		
			  if(onSubdomain == "true/") {
			  var path = window.location.pathname;
			  window.location.replace("http://{{ href | remove: 'http://' | remove: 'https://' }}" + "/" + path);
		  } else {
			window.location.replace("http://{{ href | remove: 'http://' | remove: 'https://' }}");
		  }
		  
		  
		  
		  function getQueryVariable(variable) {
		     var query = window.location.search.substring(1);
		     var vars = query.split('&');

		     for (var i = 0; i < vars.length; i++) {
		       var pair = vars[i].split('=');

		       if (pair[0] === variable) {
			 return decodeURIComponent(pair[1].replace(/\+/g, '%20'));
		       }
		     }
		   }
	  </script>
	  {% else %}
	 {% unless href == site.comingSoon %}
	  <script>
	    window.location.replace("http://{{ href | remove: 'http://' | remove: 'https://' }}");
	    //href | remove: 'http://' | remove: 'https://' | default: site.href 
	  </script>
	  {% endunless %}
	  {% endif %} 
  </body>
</html>
